*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
}
.background-hero{
    background: #DA2C38;
}
.hero{
    color: #fff;
}
header .container-fluid{
    background: #DA2C38;
}
.navbar{
    margin-bottom: 0;    
}
header .navbar .navbar-brand,header .navbar .navbar-collapse .navbar-right li a{
    color: #F4F0BB;    
}
.navbar-collapse{
    position: absolute;
    z-index: 10;
    right: 10px;
    background: #DA2C38;    
}
.content-banner{  
    background-image: url("../img/creamy.jpg");
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 0;
    color: #DA2C38;
}
.content-banner p{
    margin: 0;
}
section.creamy{
    padding: 30px 0;
    background:  #F4F0BB; 
    color: #DA2C38;
}
section.about-creamy{
    background: #DA2C38;
    color: #F4F0BB;
    padding-bottom: 30px;
}
section.iconos{
    background:  #F4F0BB; 
    color: #DA2C38;
    padding: 30px 0;
}
.box-icono{
    font-size: 40px;
}
footer{
    background: #DA2C38;  
    color: #F4F0BB;   
}
footer p{
    margin: 0;
    padding: 10px 0;
}